<section class="no-padding">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <img src="/img/comeeting/1.png" class="img-responsive portfolio-image" alt="Salle de réunion Paris 15 - Confort et design">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="/img/comeeting/2.png" class="img-responsive portfolio-image" alt="Espace CoMeeting Paris 15 - Cuisine équipée">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="/img/comeeting/3.png" class="img-responsive portfolio-image" alt="Salle de réunion Paris 15 - Équipement moderne">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="/img/comeeting/4.png" class="img-responsive portfolio-image" alt="CoMeeting Résidence Ella Paris 15 - Sécurisée">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="/img/comeeting/5.png" class="img-responsive portfolio-image" alt="Réunion professionnelle Paris 15 - Confort et design">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="/img/comeeting/6.png" class="img-responsive portfolio-image" alt="Salle de séminaire Paris 15 - Espace de travail">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="/img/comeeting/7.png" class="img-responsive portfolio-image" alt="CoMeeting Paris 15 - Configuration 1">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="/img/comeeting/8.png" class="img-responsive portfolio-image" alt="Location salle réunion Paris 15 - Configuration 2">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="/img/comeeting/9.png" class="img-responsive portfolio-image" alt="Salle de réunion Paris 15 - Configuration 3">
            </div>
        </div>
    </div>
</section>
