<section id="reviews" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Avis de nos clients</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <script src="https://static.elfsight.com/platform/platform.js" async></script>
            <div class="elfsight-app-63edfe18-e7ec-4bab-89fd-40951b782838" data-elfsight-app-lazy></div>
        </div>
    </div>
</section>
