<section id="reviews">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Avis de nos clients</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div>
        <script src="https://static.elfsight.com/platform/platform.js" async></script>
        <div class="elfsight-app-63edfe18-e7ec-4bab-89fd-40951b782838" data-elfsight-app-lazy></div>

        <script>
            retry = 20;
            function checkAd() {
                let adElement = document.querySelector("section#reviews .es-main-content + script + a")

                if(adElement) {
                    adElement.style.display = 'none';
                } else {
                    retry--;
                    if(retry >= 0){
                        window.setTimeout(checkAd, 500);
                    }
                }
            }
            checkAd();
        </script>

    </div>
</section>
