<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Présentation</h2>
                <hr class="light">
                <p class="text-faded">Cet immeuble entièrement réhabilité et surélevé de 3 étages en 2021 a tout pour plaire. 28 appartements du studio au F3, un accueil 7/7, une salle de sport, un spa, une laverie commune, une salle de jeu avec flipper, baby-foot, table de ping-pong. Et pour les entreprises, un espace de réunion de 91 m² louable à la journée ou à la demi-journée.</p>
            </div>
        </div>
    </div>
</section>
