<aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Vous voulez en savoir plus ?</h2>
              <a href="/img/booklet220401.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-default btn-xl wow tada" aria-label="Télécharger la brochure de présentation au format PDF">Télécharger la brochure</a>
              <a href="/comeeting/" class="btn btn-default btn-xl" aria-label="Accéder à la page de l'espace de réunion CoMeeting">Espace CoMeeting</a>
          </div>
      </div>
  </aside>
