<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <img src="/img/landing/1.png" class="img-responsive portfolio-image" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="/img/landing/2.png" class="img-responsive portfolio-image" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="/img/landing/3.png" class="img-responsive portfolio-image" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="/img/landing/4.png" class="img-responsive portfolio-image" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="/img/landing/5.png" class="img-responsive portfolio-image" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="/img/landing/6.png" class="img-responsive portfolio-image" alt="">
            </div>
        </div>
    </div>
</section>
