<section id="prices">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Tarifs</h2>
                <hr class="primary">
                <p>
                    Location de logements meublés du studio au T3 avec des baux d'un an minimum<br/>
                    <br/>
                    Pour les tarifs et les renseignements, voir brochure
                </p>
            </div>
        </div>
    </div>
</section>
